{{<layout.mustache}}
{{$body}}
<main class="widget">
    <div class="title">
        <h1 class="text-center"><span class="glyphicon glyphicon-bed logo"></span>HOTÉIS</h1>
    </div>
    <div class="container-fluid">
        <div class="row">
            <p class="col-sm-12 text-center">+170.000 hotéis, pousadas e resorts no mundo todo.</p>
        </div>
        <form action="search" method="post">
            <input type="hidden" name="responseType" value="view" />
            <div class="row">
                <div class="col-lg-4">
                    <label for="whereInput" class="form-title">Quer ficar onde?</label>
                </div>
                <div class="col-lg-8">
                    <label for="startInput" class="form-title">Quando? (Entrada e Saída)</label>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-map-marker"></span></span>
                        <input type="text" id="whereInput" class="form-control typeahead"
                               placeholder="cidade ou hotel" name="where">
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy"
                         data-date-max-view-mode="0" data-date-language="pt-BR" data-date-autoclose="true"
                         data-date-today-highlight="true">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="startInput" placeholder="entrada" name="begin"/>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="input-group date" data-provide="datepicker" data-date-format="dd/mm/yyyy"
                         data-date-max-view-mode="0" data-date-language="pt-BR" data-date-autoclose="true"
                         data-date-today-highlight="true">
                        <div class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </div>
                        <input type="text" class="form-control" id="endInput" placeholder="saída" name="end">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2 col-lg-offset-5">
                    <button type="submit" class="btn-search btn btn-lg">
                        <span class="glyphicon glyphicon-search"></span> Buscar</button>
                </div>
            </div>
        </form>
    </div>
</main>
{{/body}}
{{$custom-scripts}}
<script>
    $('.typeahead').typeahead({
        source: function (query, callback) {
            var url = "http://localhost:9999/widget/autocomplete?query=" + encodeURIComponent(query);
            $.get(url, callback);
        }
    });
</script>
{{/custom-scripts}}
{{$custom-style}}
.widget {
    width: 700px;
    height: 310px;
    border: solid 2px gainsboro;
    border-radius: 8px;
    display: block;
    padding: 0;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

.logo {
    font-size: 0.7em;
    padding: 10px;
    border: solid 3px #ffffff;
    border-radius: 100px;
    margin-right: 10px;
}

.title {
    background-color: #00BFFF;
    color: #ffffff;
    padding: 10px;
    border: solid 1px transparent;
    border-radius: 6px 6px 0 0;
}

main {
    margin-top: 10px;
    padding: 20px;
}

p {
    font-size: 1.6em;
    color: #00BFFF;
    padding-bottom: 20px;
}

.form-title {
    font-size: 1.3em;
}

.glyphicon-map-marker, .glyphicon-calendar{
    font-size: 1.3em;
    color: #FFA500;
}

.form-checkbox{
    margin-top: 5px;
    font-size: 1em;
}

.btn-search{
    margin-top: 20px;
    color: #ffffff;
    background-color: #FFA500;
}
{{/custom-style}}
{{/layout.mustache}}